* .stylebody 
  background-image: url('backgroundimg');


  *{box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.scooterline h1{
    background-color: white;
   color:rgb(2, 2, 2);
     font: inherit;
   font-family: Inter, sans-serif;
   font-size: 12px;
   margin: 10px 20px;
   font-weight: 800;
   text-transform: uppercase;
   }
 
 .scooterproduct{
      padding-left: 10cm;
   }
   .scooter table{
     border-radius: 24px;
      margin-left: 6cm;
    }
  .singlescooter{
    border: 2px solid #ddd;
    display: inline-block;
    position: unset;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 6px #000;
    margin: 15px;
    background-color:rgb(255, 255, 255);
     }
    .singlescooter:hover{
         box-shadow: rgba(0, 0, 0, 0.05) 5px 5px 5px, rgba(0, 0, 0, 0.13) 5px 5px 5px;
      transform: scale(1.1);
        border-radius: 15px;
         border-color: rgb(241, 241, 241);
         border: 2px groove #a3a3a3;
        }
    
    .singlescooter h3,b{
     float: left;
     display: block;
     text-align: left;
   }
   .neben{
    border-radius: 24px;
    position: absolute;
    margin-left: 20px;
    display: inline;
    background: rgb(255, 255, 255);
     padding: 620px 15px;
    border-style: solid;
    border-color: rgb(241, 241, 241);
     }
  