.scooter {
    border-radius: 5px;
    position: relative;
    margin-left: 20px;
    padding-right: 20cm;
    display: inline-block;
    background: rgb(255, 255, 255);
  }
  .scooter .scootername{
      color: aqua;
  }
 .scooter h2{
     margin-left: 20px;
 }
  .information {
    display: inline-block;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    padding-right: 20px;
    margin-left: 30px;
    vertical-align:top
}
.information p{
    
     color: #222;
     font-family: OTTOSans,Arial,Helvetica,sans-serif;
    text-align: left;
    font-weight: 700;
    background-repeat: no-repeat;
    line-height: 24px;
    padding-left: 40px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h60v60H0z'/%3E%3Cpath d='M54.986 21.625a1.211 1.211 0 00-.133-.527c-.008-.013-.021-.02-.027-.034-.03-.052-.073-.088-.108-.137a1.21 1.21 0 00-.332-.302c-.032-.018-.045-.056-.08-.07L27.156 7.055a1.249 1.249 0 00-1.11-.002L5.698 17.085c-.03.015-.044.05-.074.066-.14.082-.262.193-.358.324-.03.04-.065.07-.09.115-.011.02-.032.032-.041.052a1.25 1.25 0 00-.126.53c0 .012-.009.022-.009.033V37.88c0 .47.264.9.684 1.116l27.473 13.95c.36.182.787.179 1.146-.008l20.026-10.432a1.25 1.25 0 00.672-1.108V21.672c0-.02-.013-.032-.015-.05v.003zM26.594 9.572L50.988 21.7l-7.014 3.647L19.68 12.98l6.912-3.407.001-.002zm7.122 21.107L9.05 18.222l7.834-3.863 24.365 12.403-7.533 3.917zM7.499 20.24l24.974 12.615v16.943L7.499 37.117V20.24zm27.473 29.535v-16.93l17.527-9.112v16.913l-17.527 9.13z' fill='%23222'/%3E%3C/g%3E%3C/svg%3E");
 }
 ///SlideShow
 
 