.scooterline h1{
    background-color: white;
   color:rgb(2, 2, 2);
     font: inherit;
   font-family: Inter, sans-serif;
   font-size: 12px;
   margin: 10px 20px;
   font-weight: 800;
   text-transform: uppercase;
   }
 
 .scooterproduct{
      padding-left: 10cm;
   }
   .scooter table{
     border-radius: 24px;
      margin-left: 6cm;
    }
  .singlescooter{
    border: 2px solid #ddd;
    display: inline-block;
    position: unset;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 6px #000;
    margin: 15px;
    background-color:rgb(255, 255, 255);
     }
    .singlescooter:hover{
         box-shadow: rgba(0, 0, 0, 0.05) 5px 5px 5px, rgba(0, 0, 0, 0.13) 5px 5px 5px;
      transform: scale(1.1);
        border-radius: 15px;
         border-color: rgb(241, 241, 241);
         border: 2px groove #a3a3a3;
        }
    
    .singlescooter h3,b{
     float: left;
     display: block;
     text-align: left;
   }
   .neben{
    border-radius: 24px;
    position: absolute;
    margin-left: 20px;
    display: inline;
    background: rgb(255, 255, 255);
     padding: 620px 15px;
    border-style: solid;
    border-color: rgb(241, 241, 241);
     }
  