html{
  zoom: 90%;
  }
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('Images/e-scooter.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }

a.login{
  float: right;
  display: block;
  color: #e6e6e6;
  text-align: center;
  width: 100px;
  background-color: rgb(34, 65, 236);
  padding: 15px 30px;
  margin-right: 20px;
  margin-top: 30px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 25px;
}
a.login:hover{
  background-color: azure;
  color: black;
}

img.CompanyLogo{
  padding: 6px 25px;
  margin-top: 10px;
  margin-left: 20px;
  width: 50px;
}
 
.bar {
margin:18px 25px;
height: 48px;
display: flex;
width: 150;
}
 
.Categoriesbar {
  margin:0px 18px;
  height: 48px;
  padding: 0px 15px;
  width: 150;
  background: rgb(253, 253, 253);
  padding: 0px 100px;
  border-radius: 24px;
  box-shadow: rgb(0 0 0 / 10%) 0px 2px , rgb(0 0 0 / 10%) 0px 0px 3px;
  display: flex;
}
.Categoriesbar h3{
    margin-top: 10px;
    font-family: Inter, sans-serif;
    font-size :15px;
    font-variant-caps :normal;
    font-variant-east-asian :normal;
    font-variant-ligatures :normal;
    font-variant-numeric :normal;
    font-weight :800;
 }
.searchbar form{
  height: 46px;
    width: 500px;
  margin-top: 22px;
  padding-right: 18.7cm;
  border-radius: 24px;
   display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
    flex: 0 0 auto;
    border-bottom: 2px solid rgba(255, 255, 255, 0.07);
}
.searchbar input{
  height: 48px;
   border-radius:24px ;
  color: rgb(51, 51, 51);
  margin-top: 5px;
  border: none;
  padding-right: 55px;
   background-color:  rgb(255, 255, 255);
  outline: transparent;
   font-family: Inter, sans-serif;  
  font-size: 14px;
  font-weight: 800;
 }
 .searchbar{
  align-items: center;
  border-radius: 24px;
  background-color:  rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.13) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 0px 3px 0px;
  box-sizing: border-box;
  color :rgb(34, 34, 34);
  cursor :text;
  display: flex;
  width: 500px;
  height: 48px;
  line-height: 16px;
  margin-bottom :10px;
  margin-left: 365px;
  margin-right: 1px;
  padding-bottom: 0px;
  padding: 10px 0px;
  padding-left: 50px;
  padding-right: 30cm;
  padding-top: 0px;
  position :absolute;
 }
 
  