<html>


    <head>
        <link rel="stylesheet" href="../../../assets/css/styles.css">
        <link rel="stylesheet" href="../../../assets/css/scooter1.css">
    </head>
    <body>
        <header>
            <a class="CompanyLogo" href="../index.html"> 
                <img class="CompanyLogo" src="../Images/CompanyLogo.png" alt="Company Logo">
            </a>
            <a class="login" href=" " target="_top">Anmelden</a>
           
            <div class="bar">
                <div class="Categoriesbar">
                    <h3 class="Categories">Categories</h3>
                </div>
                   <div class="searchbar">
                       <form action="/action_page.php">
                           <input type="text" placeholder="Search f&uuml;r Scooter.." name="search">
                          <!-- <svg height="24px" width="50px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                               <path fill="rgba(51, 51, 51, 1)" fill-rule="evenodd" clip-rule="evenodd" d="M6.29289 6.29289C6.68342 5.90237 7.31658 5.90237 7.70711 6.29289L12 10.5858L16.2929 6.29289C16.6834 5.90237 17.3166 5.90237 17.7071 6.29289C18.0976 6.68342 18.0976 7.31658 17.7071 7.70711L13.4142 12L17.7071 16.2929C18.0976 16.6834 18.0976 17.3166 17.7071 17.7071C17.3166 18.0976 16.6834 18.0976 16.2929 17.7071L12 13.4142L7.70711 17.7071C7.31658 18.0976 6.68342 18.0976 6.29289 17.7071C5.90237 17.3166 5.90237 16.6834 6.29289 16.2929L10.5858 12L6.29289 7.70711C5.90237 7.31658 5.90237 6.68342 6.29289 6.29289Z">
                               </path>
                            </svg>-->
                        </form>
                    </div>       
             </div>
        </header>
        <div class="scooter">
            <div class="scootername">
                <br>
                <img src="../../../assets\Images\scooter_1.png" alt="">
            </div>
                <div class="information">
                    <h4>scootername</h4>
                    <b>preis</b><br>
                    <b>Beschreibung</b>
                    <div class="scooterbutton 1">
                        <button type=" button">Jetzt Mieten</button>
                    </div>
                </div>
        </div>
    <div class="scooterinformation">
        <div class="scooterInformnationText">
            <h2>Information</h2>
            <div class="scooterinformation1">
                <b>AKKUTYP</b><br>
                <label for="AKKUTYP">551 Wh</label><br><br>
                <b>RADGRÖSSE</b><br>
                <label for="RADGRÖSSE">10 Zoll</label><br><br>
                <b>MAXIMALE LEISTUNG</b><br>
                <label for="MAXIMALE LEISTUNG">350 Watt</label><br><br>
                <b>GEWICHT</b><br>
                <label for="GEWICHT">19.9 KG</label><br><br>
                <b>MAX. GESCHWINDIGKEIT</b><br>
                <label for="MAX. GESCHWINDIGKEIT">20 Kmh</label><br><br>
            </div>
        </div>
    </div>
    </body>
</html>