.confirm{
    background-color: white;
    border-radius: 24px;
    width: 66%;
    margin-top: 2cm;
    margin-left: 7.7cm;
   }
   .thanksinformation{
    margin-left: 2pc;
    font-family: math;
   }
   .information{
    margin-left: 2pc;
   }
   .information table{
    font-family: initial;
    font-size: x-large;
    font-weight: 200;
   }
   table{
    width: 100%;
   }
   td{
    width: 306px;
   }