body {
  
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../Images/Atom.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #131b23;
  
  
}
.scooterproduct{
  margin-left: 0px;
 
}

.singlescooter{
  border: 2px solid #ddd;
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 6px #000;
  margin: 15px;
  position:  static;
  background-color: rgb(255, 255, 255);
  outline: none;
}
.singlescooter:hover{
 border: 2px solid #ddd;
 display: inline-block;
 padding: 5px;
 border: 3px outset rgb(153, 151, 151);
 border-radius: 10px;
 box-shadow: 0 0 2px rgb(153, 151, 151);
 margin: 15px;
 position: relative;
 background-color: rgb(255, 255, 255);
 cursor: context-menu;
 outline: #000 solid 2px;
}

.singlescootertext h3,b{
float: left;
display: block;
text-align: left;
margin-left: 3px;
  }

 .singlescooterhead {
 display:  flex;
 overflow: hidden;
 padding: 0px 0px;
 position: absolute;
 visibility: visible;
 z-index: 2;
 margin-top: 15px;

 }
 .singlescooterprice{
 display: block;
 margin-top:270;
 position:  absolute;
 }
.scooterimg  {
position: sticky;
display: -webkit-box;
}
.neben{
border-radius: 24px;
margin-left: 20px;
background: rgb(255, 255, 255);
border-style: solid;
padding: 0px 40px;
border-color: rgb(241, 241, 241);
row-gap: 3;
width: 260px;
height: 500px
}
.singlescooterinfo{
 text-size-adjust: 100%;
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 visibility: visible;
 box-sizing: border-box;
 -webkit-font-smoothing: antialiased;

 margin-top: 60px;
 min-height: 38px;
  font-family: Inter, sans-serif;
 font-weight: 500;
 letter-spacing: normal;
 font-size: 14px;
 line-height:20px;
 color: rgba(51, 51, 51, 0.75);
 float: left;
 display: block;
 text-align: left;
}
 
.scooterbutton {
 display:   block;
 overflow: hidden;
 margin-top:200;
 position: absolute;
}  

.scooterbutton button{
float: left;
display: block;
text-align: left;
padding: 0px 30px;
height: 48;
color: rgb(255, 255, 255);
background-color: blue;
border: 2px solid transparent;
border-radius: 88px;
display: block;
cursor: pointer;
}
.scooterbutton a{
text-decoration: none;
color: rgb(255, 255, 255);
}
.scooter{
  display: flex;
  flex-direction: row; 
}
 .choose{
  font-family: fangsong;
  font-size: unset;
  font-style: revert;
  margin-top: 68px;
  margin-bottom: 8px
}

.produkt-grid{
  display: grid;
  grid-template-columns: 320px 320px 320px;
  column-gap: 65px;
  align-items: center;
  }

  .price{
margin-top: 130px;
color: red;
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
  }
  .description{
  margin-top: -3px;
  }
  .sort_by{
    width: 163px;
  }
  
  