.scooter {
    display: flex;
    flex-direction: row; 
    margin-left: 5cm;
   }
 
.scootername{
    background: rgb(255, 255, 255);
    float: right;
    border-radius: 20px;
    margin-left: 20px;
}
  .information {
  border: 1cm; 
  border-radius: 20px;
  background: rgb(255, 255, 255);
  margin-left: 20px;
  height: 300;
}
.scootername img {
     border-radius: 20px;
    }
    .scooterinformation{
        background-color: white;
        border-radius: 24px;
        margin-left: 5.5cm;
        margin-right: 5cm;
    }
    .scooterInformnationText{
        margin-left: 20px;
    }
   
       .scooterbutton button{
        height: 48;
        width: 500;
        color: rgb(255, 255, 255);
        background-color: rgb(36, 35, 35);
        border: 2px solid transparent;
        border-radius: 88px;
        cursor: pointer;
       }

 