<<<<<<< HEAD
#container{
  margin: 0 auto;
  width: 950px;

}

#container2{
  margin: 0 auto;
  width: 1250px;
}
body {
  
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../Images/Atom.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #131b23;
  
  
}

a.login {
  float: right;
  display: block;
  color: #e6e6e6;
  text-align: center;
  background-color: rgb(224, 47, 47);
  margin-right: 20px;
  margin-top: 15px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  transition: background-color 0.15s, color 0.15s;
  padding-left: 15px;
  padding-right: 15px;
  
}
a.login:hover {
  background-color: azure;
  color: black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.16);
}

a.register {
=======
html {
  zoom: 90%;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../Images/Atom.gif");
  background-size: cover;
}

*{box-sizing:border-box}

.slideshow-container {
align-items: center; 
width: 1000px;
height: 500px;
position: relative;
margin: auto;
}

.mySlides {
display: none;
}

.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

.next {
right: 0;
border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}


.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}
a.login {
>>>>>>> 41f699ffe70da6a653481b456ae18aca71330265
  float: right;
  display: block;
  color: #e6e6e6;
  text-align: center;
<<<<<<< HEAD
  width: 130px;
  background-color: rgb(34, 65, 236);
  padding: 15px ;
  
  margin-top: 15px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  transition: background-color 0.15s, color 0.15s;
  
}
a.register:hover {
  background-color: azure;
  color: black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.16);
  
=======
  width: 120px;
  background-color: rgb(34, 65, 236);
  padding: 15px 30px;
  margin-right: 20px;
  margin-top: 30px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 25px;
}
a.login:hover {
  background-color: azure;
  color: black;
>>>>>>> 41f699ffe70da6a653481b456ae18aca71330265
}

img.CompanyLogo {
  padding: 6px 25px;
<<<<<<< HEAD
  margin-top: 15px;
  margin-left: 450px;
  height: 50px;
   width: auto;
}

.bar {
 
  height: 48px;
  display: grid;
  grid-template-columns: 50px 1fr ;
  width: 130;
  margin-bottom: 10px;
}

.scooterproduct table{
border-radius: 24px;
 
}
.singlescooter{
border: 2px solid #ddd;
display: inline-block;
padding: 5px;
border-radius: 10px;
box-shadow: 0 0 6px #000;
margin: 15px;
position:  static;
width:590;
background-color: rgb(255, 255, 255);
outline: none;

}
.singlescooter:hover{
 border: 2px solid #ddd;
 display: inline-block;
 padding: 5px;
 border: 3px outset rgb(153, 151, 151);
 border-radius: 10px;
 box-shadow: 0 0 2px rgb(153, 151, 151);
 margin: 15px;
 position: relative;
 width:590;
 background-color: rgb(255, 255, 255);
 cursor: context-menu;
 outline: #000 solid 2px;
}

.singlescootertext h3,b{
float: left;
display: block;
text-align: left;
margin-left: 3px;
  }

 .singlescooterhead {
 display:  flex;
 overflow: hidden;
 padding: 0px 0px;
 position: absolute;
 visibility: visible;
 z-index: 2;

 }
 .singlescooterprice{
 display: block;
 margin-top:270;
 position:  absolute;
 }
.scooterimg  {
position: sticky;
display: -webkit-box;
}

.singlescooterinfo{
 text-size-adjust: 100%;
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 visibility: visible;
 box-sizing: border-box;
 -webkit-font-smoothing: antialiased;
 margin: 0;
 padding: 0;
 border: 0;
 font: inherit;
  display: block;
 -webkit-line-clamp: 2;
 -webkit-box-orient: vertical;
 overflow: hidden;
 margin-top: 60px;
 min-height: 38px;
  font-family: Inter, sans-serif;
 font-weight: 500;
 letter-spacing: normal;
 font-size: 14px;
 line-height:20px;
 color: rgba(51, 51, 51, 0.75);
 float: left;
 display: block;
 text-align: left;
}
 
.scooterbutton {
 display:   block;
 overflow: hidden;
 margin-top:200;
 position: absolute;
}  

.scooterbutton button{

float: left;
display: block;
text-align: left;
padding: 0px 30px;
height: 48;
color: rgb(255, 255, 255);
background-color: rgb(254, 18, 18);
border: 2px solid transparent;
border-radius: 25px;
display: block;
cursor: pointer;
}
.beispielprodukte{
display: grid;
grid-template-columns: 1fr 1fr ;
column-gap: 10px;
row-gap: 10px;
vertical-align: center;
=======
  margin-top: 10px;
  margin-left: 20px;
  width: 50px;
}

.bar {
  margin: 18px 25px;
  height: 48px;
  display: flex;
  width: 150;
}

.Categoriesbar {
  margin: 0px 180px;
  height: 48px;
  padding: 0px 15px;
  width: 150;
  background: rgb(253, 253, 253);
  border-radius: 24px;
  box-shadow: rgb(0 0 0 / 10%) 0px 2px, rgb(0 0 0 / 10%) 0px 0px 3px;
  display: flex;
}
.Categoriesbar h3 {
  margin-top: 10px;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 800;
}
.searchbar form {
  height: 46px;
  width: 500px;
  margin-top: 22px;
  padding-right: 18.7cm;
  border-radius: 24px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  border-bottom: 2px solid rgba(255, 255, 255, 0.07);
}
.searchbar input {
  height: 48px;
  border-radius: 24px;
  color: rgb(51, 51, 51);
  margin-top: 5px;
  border: none;
  padding-right: 55px;
  background-color: rgb(255, 255, 255);
  outline: transparent;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 800;
}
.searchbar {
  align-items: center;
  border-radius: 24px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.13) 0px 2px 5px 0px,
      rgba(0, 0, 0, 0.05) 0px 0px 3px 0px;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  cursor: text;
  display: flex;
  width: 500px;
  height: 48px;
  line-height: 16px;
  margin-bottom: 10px;
  margin-left: 365px;
  margin-right: 1px;
  padding-bottom: 0px;
  padding: 10px 0px;
  padding-left: 50px;
  padding-right: 30cm;
  padding-top: 0px;
  position: absolute;
>>>>>>> 41f699ffe70da6a653481b456ae18aca71330265
}