<html>
    <head>
        <link rel="stylesheet" href="../../assets/css/styles.css">
        <link rel="stylesheet" href="../../assets/css/miete.css">
        <link rel="stylesheet" href="../../assets/css/confirm.css">
    </head>
    <body>
        <header>
         
        </header>
        
        <div class="confirm">
            <table>
                <tr>
                    <td>
                        <center>
                            <br>
                            <h2><i>Ihre miete wurde erfolgreich abgeschlossen !</i></h2>
                            <h2>Vielen Dank.</h2>
                        </center>
                        <big>
                            <h4> Deine Reservierung wird bearbeitet und du erhältst in Kürze eine Bestätigung Inklusive die Rechnung per E-Mail. <br><br>
                                Ihre Automic Team</h4>  
                            </big> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <hr>
                        </td>
                    </tr>
                    </table>
        </div>
    </body>
</html>
