body {
 
   background-image: url('../Images/backgroundimg.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: fill;
  background-color: #131b23;
  min-height: auto;
  
  
  }

a.login{
  float: right;
  display: block;
  color: #e6e6e6;
  text-align: center;
  width: 75px;
  background-color: rgb(34, 65, 236);
  padding: 7px 20px;
  margin-right: 20px;
  margin-top: 30px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 25px;
}

img.CompanyLogo{
  padding: 6px 25px;
  margin-top: 10px;
  margin-left: 20px;
  width: 50px;
}
 
.bar {
margin:18px 25px;
height: 48px;
display: flex;
width: 150;
}
 
.Categoriesbar {
  margin:0px 0px;
  height: 48px;
  padding: 0px 15px;
  width: 150;
  background: rgb(253, 253, 253);
  border-radius: 24px;
  box-shadow: rgb(0 0 0 / 10%) 0px 2px , rgb(0 0 0 / 10%) 0px 0px 3px;
  display: flex;
}
.Categoriesbar h3{
    margin-top: 10px;
    font-family: Inter, sans-serif;
    font-size :15px;
    font-variant-caps :normal;
    font-variant-east-asian :normal;
    font-variant-ligatures :normal;
    font-variant-numeric :normal;
    font-weight :800;
 }
.searchbar form{
  height: 48px;
  padding: 0px 240px;
  padding-right: 20px;
  width: 500px;
  margin-top: 15px;
   display: flex;
   align-items: center;
  position:  unset;
   flex: 0 0 auto;
    border-radius: 24px;
    background-color: rgb(255, 255, 255);
 }
.searchbar input{
  height: 48px;
  width: 500%;
  border-radius:24px ;
  color: rgb(51, 51, 51);
  margin-top: 0px;
  border: none;
  padding-left: -5px;
  margin-left: -6cm;
  margin-right: -7.5cm;
  background-color:  rgb(255, 255, 255);
  outline: transparent;
  font-family: Inter, sans-serif;  
  font-size: 14px;
  font-weight: 800;
 }
 .searchbar{
  align-items: center;
   background-color: rgb(255, 255, 255);
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 0px 3px 0px;
  box-sizing: border-box;
  color :rgb(34, 34, 34);
  cursor :text;
  display: flex;
  width: 500px;
  height: 48px;
  line-height: 16px;
  margin-bottom :10px;
  margin-left: 300px;
  margin-right: 1px;
  padding-bottom: 0px;
  padding: 0px 0px;
  padding-left: 5px;
  padding-right: 28.5cm;
  padding-top: 0px;
  position :absolute;
 }
 
  