.scooter {
    display: flex;
    flex-direction: row;
  }
.scootername{
display: block;
background-color: rgb(255, 255, 255);
padding-right: 20cm;
margin-left: 2cm;
border-radius: 10px;
}
 .scooter h2{
     margin-left: 20px;
 }
  .information {
    display: inline-block;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    padding-right: 5.4cm;
    margin-left: 30px;
    vertical-align:top
}
.information h4{
    margin-left: 20px;
 }
 .information span{
     color: red;
 }
 input[type=date]::-webkit-input-placeholder{
     border-radius: 24px;
     width: 100%;
     appearance: none;
     margin-bottom: 10px;
     padding-right: 80px;
 }

 
 